@media (max-width: 650px), (min-width: 900px) and (max-width: 1000px) {
  .mini-article-responsive{
    display: none;
    min-width: 0%;
    max-width: 0%;
  }
}

@media (max-width: 650px), (min-width: 900px) and (max-width: 1000px) {
  .mini-article-responsive-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}